@charset "utf-8";

#contents_list > p{
    margin: 0;
}

.note{
    margin-bottom: 16px;
}

dd > dl{
    margin-bottom: 0px;
}

pre {
    margin-bottom: 0px;
}

p{
    margin-bottom: 4px;
}

#date{
    margin-bottom: 16px;
}

.section{
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin-bottom:0.5em;
    border-top: solid #495058 3px;
    border-left: solid #495058 3px;
}

.part{
    padding-top: 0.5em;
    padding-right: 1em;
    border-top: dashed #495058 2px;
}


tt {
  font-family: "SFMono-Regular", "Menlo", "Monaco", "Courier", monospace;
  font-size: 14px;
}

/* MANual-List */
.man-li > p{
    padding-left: 2em;
}

.man-li > p:nth-child(1){
    padding-left: 0;
}
